:root {
  color-scheme: light !important;
}


.fond{
    background: url('https://data.1freewallpapers.com/detail/anime-girl-during-sunset-4k-5k-anime-girl.jpg')  no-repeat fixed  ;
    background-size: cover;
    /*min-height: 700px;*/
    height: 100vh;
    width: 100%;
}
.button, a{
    margin-top: 5px;
    text-decoration: none;
    color: white;
    
}
.button ,a:hover{
    color: yellow;
    text-shadow: thistle;
}
#map{
    margin-left: 25%;
}
